body{
    font-family: 'Comfortaa', cursive;
    /* font-family: 'Bruno Ace SC', cursive; */
    /* font-family: 'Russo One', sans-serif; */
}

/* Begin Section Header */




.header{
    
}


.container{
    max-width: 1230px;
    margin: 0px auto;
    padding: 0 15px;
}

.header__top{
    padding: 30px 0px;
}

.header__list{
    display: flex;
    align-items: center;
}

.header__item:not(:last-child){
   margin: 0 170px 0 0;
}

.header__item:first-child{
    font-size: 16px;
    line-height: 25px;
}

.header__item:nth-child(2){
    font-family: 'Bruno Ace SC', cursive;
    font-size: 25px;
    margin: 0 340px 0 0;
}

.header__item:last-child{
    font-size: 22px;
    
}



.header__bottom{
    background-color: #212121;
    padding: 13px 0px;
}


.nav__list{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 18px;
    align-items: center;
    position: relative;
    z-index: 1;
}

.nav__item a:hover{
    color: grey;
    transition: all 0.5s ease;
}



.nav__item:not(:last-child){
    margin: 0 40px 0 0;
}


.btn__reset{
    background-color: transparent;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.nav__iconLog{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}



.nav__iconLog a svg{
    width: 36px;
    height: 36px;
}

svg:hover{
    opacity: 0.7;
    transition: all 0.5s ease;
}



.header__burger{
    display: none;
}

/* End Section Header */





/* Begin Section Basket */

.basket{

}

.basket__body{

}

.basket__top{
    display: flex;
    align-items: flex-end;
    margin: 50px 0 70px 0;
}

.basket__img{
    width: 55px;
}

.basket__title{
    font-family: 'Russo One', sans-serif;
    font-size: 40px;
    margin: 0 0 0 10px;
}

.basket__bot{

}

.basket__list{

}

.basket__item{
    display: flex;
    background-color: #cfcfcf;
    padding: 10px 10px 5px 10px;
    border-radius: 10px;
    margin: 0 0 40px 0;
}

.basket__list .basket__item:last-child{
    margin: 0 0 0 0;
}

.bas{

}

.bas__block{
    margin: 5px 0 0 10px;
}

.bas__titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}

.bas__subtitle{
    font-family: 'Russo One', sans-serif;
    font-size: 25px;
}

.bas__krest{
    cursor: pointer;
}

.bas__krest2{
    display: none;
}

.bas__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bas__texts{

}

.bas__text{
    font-size: 18px;
    margin: 13px 0 0 0;
}

.bas__btn{
    background-color: #a0887e;
    color: #fff;
    padding: 20px 60px;
    font-size: 18px;
    border-radius: 10px;
    margin: 0 120px 0 0;
}

.bas__linkInfo{
    display: none;
}



/* End Section Basket */





/* Begin Section FOOTER */

.footer{
    background-color: #212121;
    padding: 30px 0;
    margin: 100px 0 0 0;
}

.footer__body{

}

.footer__text{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info{
    width: 470px;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1px;
}

.footer__logo{
    font-family: 'Bruno Ace SC', cursive;
    font-size: 30px;
    letter-spacing: 2px;
}

.footer__phones{
    width: 330px;
    text-align: right;
    line-height: 40px;
    font-size: 18px;
    letter-spacing: 1px;
}

.footer__phones div img:nth-child(1){
    width: 15px;
    height: 20px;
}

/* End Section FOOTER */




@media (max-width: 1024px){
    body{
       background-color: #000;
    }

    body::before{
        content: "Переверните экран в вертикальную ориентацию!";
        color: #fff;
        font-size: 50px;
        font-family: 'Russo One', sans-serif;
        position: absolute;
        top: 250px;
        left: 0px;
        text-align: center;
        line-height: 70px;
    }



    header,main,section,center,footer{
        display: none;
    }
}

@media (max-width: 800px){
    body{
       background-color: #000;
    }

    body::before{
        content: "Переверните экран в вертикальную ориентацию!";
        color: #fff;
        font-size: 50px;
        font-family: 'Russo One', sans-serif;
        position: absolute;
        top: 80px;
        left: 0px;
        text-align: center;
        line-height: 70px;
    }



    header,main,section,center,footer{
        display: none;
    }
}

@media (max-width: 768px){
    body{
        background-color: #fff;
     }

     body::before{
       display: none;
    }

    header,main,section,center,footer{
        display: block;
    }

    /* Begin Section Header */
    .container{
        max-width: 798px;
        margin: 0px auto;
        padding: 0 15px;
    }
    
    .header__top{
        padding: 30px 0px;
    }
    
    .header__list{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header__item:not(:last-child){
       margin: 0 0px 0 0;
    }
    
    .header__item:first-child{
        font-size: 14px;
        line-height: 20px;
        width: 255px;
    }
    
    .header__item:nth-child(2){
        font-family: 'Bruno Ace SC', cursive;
        font-size: 25px;
    }
    
    .header__item:last-child{
        font-size: 20px;
    }



    .header__bottom{
        background-color: #212121;
        padding: 25px 0px;
    }

    .header__burger{
        margin: 3px 0 0 20px;
        display: inline-block;
    }

    

    .header__nav .nav__list{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    

    .header__nav{
        opacity: 0;
        transition: all 1s ease;
    }
    
    .nav__list{
        color: white;
        font-size: 16px;
        position: absolute;
        background-color: #212121;
        top: 120px;
        left: 15px;
    }

    


    .mobileMenu{
        opacity: 1;
       transition: all 1s ease;
    }
    


    
    .nav__item a:hover{
        color: grey;
        transition: all 0.5s ease;
    }

    .nav__item:first-child{
        order: 4;
    }
    .nav__item:nth-child(2){
        order: 2;
    }
    .nav__item:nth-child(3){
        order: 3;
    }

    .nav__item:nth-child(4){
        order: 1;
        padding: 90px 40px 20px 80px;
    }

    .nav__item:nth-child(5){
        order: 5;
    }

    .nav__item:nth-child(6){
        order: 6;
    }
    
    .nav__item:last-child{
        order: 7;
    }
    
    
    
    .nav__item{
       padding: 0 0 20px 15px;
    }
    
    
    .btn__reset{
        background-color: transparent;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }
    
    .nav__iconLog{
        color: white;
        font-size: 16px;
    }
    
    
    
    .nav__iconLog a svg:first-child{
        width: 30px;
        height: 30px;
    }

    /* End Section Header */


    /* Begin Section Basket */

    .basket{

    }

    .basket__body{

    }

    .basket__top{
        display: flex;
        align-items: flex-end;
        margin: 50px 0 70px 0;
    }

    .basket__img{
        width: 55px;
    }

    .basket__title{
        font-family: 'Russo One', sans-serif;
        font-size: 40px;
        margin: 0 0 0 10px;
    }

    .basket__bot{

    }

    .basket__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .basket__item{
        display: block;
        background-color: #cfcfcf;
        padding: 20px ;
        border-radius: 10px;
        margin: 0 0 40px 0;
        width: 370px;
    }

    .basket__list .basket__item:last-child{
        margin: 0 0 0 0;
    }

    .bas{

    }

    .bas__block{
        margin: 5px 0 0 5px;
    }

    .bas__titles{
        display: block;
        width: 315px;
        height: 80px;
    }

    .bas__subtitle{
        font-family: 'Russo One', sans-serif;
        font-size: 20px;
        text-align: center;
        margin: 0 0 0 0px;
    }

    .bas__krest{
        cursor: pointer;
        display: none;
    }

    .bas__krest2{
        display: inline-block;
        width: 22px;
        margin: 0px 0 10px 315px;
    }

    .bas__info{
        display: block;
    }

    .bas__texts{

    }

    .bas__text{
        font-size: 18px;
        margin: 13px 0 0 0;
        display: none;
    }

    .bas__btn{
        background-color: #a0887e;
        color: #fff;
        padding: 20px 60px;
        font-size: 18px;
        border-radius: 10px;
        margin: 0px 0px 0 15px;
    }

    .bas__linkInfo{
        display: block;
        margin: 30px 0 0 40px;
    }



    /* End Section Basket */

    
    
    /* Begin Section FOOTER */

    .footer{
        background-color: #212121;
        padding: 30px 0;
        margin: 100px 0 0 0;
    }

    .footer__body{

    }

    .footer__text{
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__info{
        width: 371px;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0px;
    }

    .footer__logo{
        font-family: 'Bruno Ace SC', cursive;
        font-size: 23px;
        letter-spacing: 2px;
    }

    .footer__phones{
        width: 270px;
        text-align: right;
        line-height: 30px;
        font-size: 14px;
        letter-spacing: 0px;
    }

    .footer__phones div img:nth-child(1){
        width: 12px;
        height: 15px;
    }

    /* End Section FOOTER */

    
}


@media (max-width: 425px){

    body{
        background-color: #fff;
     }

     body::before{
        display: none;
     }

    header,main,section,center,footer{
        display: block;
    }

    .container{
        max-width: 455px;
        margin: 0px auto;
        padding: 0 15px;
    }
    
    .header__top{
        padding: 30px 0px;
    }
    
    .header__list{
        display: flex;
        flex-direction: column;
    }
    
    .header__item:not(:last-child){
       margin: 0 0px 0 0;
    }
    
    .header__item:first-child{
        font-size: 12px;
        line-height: 20px;
        width: 200px;
        display: none;
    }
    
    .header__item:nth-child(2){
        font-family: 'Bruno Ace SC', cursive;
        font-size: 22px;
    }
    
    .header__item:last-child{
        font-size: 18px;
        margin: 10px 0 0 0;
    }



    .header__bottom{
        background-color: #212121;
        padding: 25px 0px;
    }

    .header__burger{
        margin: 3px 0 0 20px;
        display: inline-block;
    }

    

    .header__nav .nav__list{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    

    .header__nav{
        opacity: 0;
        transition: all 1s ease;
    }
    
    .nav__list{
        color: white;
        font-size: 16px;
        position: absolute;
        background-color: #212121;
        top: 120px;
        left: 15px;
    }

    


    .mobileMenu{
        opacity: 1;
       transition: all 1s ease;
    }
    


    
    .nav__item a:hover{
        color: grey;
        transition: all 0.5s ease;
    }

    .nav__item:first-child{
        order: 4;
    }
    .nav__item:nth-child(2){
        order: 2;
    }
    .nav__item:nth-child(3){
        order: 3;
    }

    .nav__item:nth-child(4){
        order: 1;
        padding: 90px 50px 20px 80px;
    }

    .nav__item:nth-child(5){
        order: 5;
    }

    .nav__item:nth-child(6){
        order: 6;
    }
    
    .nav__item:last-child{
        order: 7;
    }
    
    
    
    .nav__item{
       padding: 0 0 20px 15px;
    }
    
    
    .btn__reset{
        background-color: transparent;
        border: 0px;
        margin: 0px;
        padding: 0px;
    }
    
    .nav__iconLog{
        color: white;
        font-size: 16px;
    }
    
    
    
    .nav__iconLog a svg:first-child{
        width: 30px;
        height: 30px;
    }

    /* Begin Section Basket */

    .basket{

    }

    .basket__body{

    }

    .basket__top{
        display: flex;
        align-items: flex-end;
        margin: 50px 0 70px 0;
        justify-content: center;
    }

    .basket__img{
        width: 55px;
    }

    .basket__title{
        font-family: 'Russo One', sans-serif;
        font-size: 40px;
        margin: 0 0 0 10px;
    }

    .basket__bot{

    }

    .basket__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .basket__item{
        display: block;
        background-color: #cfcfcf;
        padding: 20px ;
        border-radius: 10px;
        margin: 0 0 40px 0;
        width: 370px;
    }

    .basket__list .basket__item:last-child{
        margin: 0 0 0 0;
    }

    .bas{

    }

    .bas__block{
        margin: 5px 0 0 5px;
    }

    .bas__titles{
        display: block;
        width: 315px;
        height: 80px;
    }

    .bas__subtitle{
        font-family: 'Russo One', sans-serif;
        font-size: 20px;
        text-align: center;
        margin: 0 0 0 0px;
    }

    .bas__krest{
        cursor: pointer;
        display: none;
    }

    .bas__krest2{
        display: inline-block;
        width: 22px;
        margin: 0px 0 10px 315px;
    }

    .bas__info{
        display: block;
    }

    .bas__texts{

    }

    .bas__text{
        font-size: 18px;
        margin: 13px 0 0 0;
        display: none;
    }

    .bas__btn{
        background-color: #a0887e;
        color: #fff;
        padding: 20px 60px;
        font-size: 18px;
        border-radius: 10px;
        margin: 0px 0px 0 15px;
    }

    .bas__linkInfo{
        display: block;
        margin: 30px 0 0 40px;
    }



    /* End Section Basket */

    /* Begin Section FOOTER */

    .footer{
        background-color: #212121;
        padding: 30px 0;
        margin: 100px 0 0 0;
    }

    .footer__body{

    }

    .footer__text{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .footer__info{
        width: 340px;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0px;
    }

    .footer__logo{
        font-family: 'Bruno Ace SC', cursive;
        font-size: 23px;
        letter-spacing: 2px;
        margin: 10px 0;
    }

    .footer__phones{
        width: 240px;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        letter-spacing: 0px;
    }

    .footer__phones div img:nth-child(1){
        width: 12px;
        height: 15px;
    }

    /* End Section FOOTER */
    
}



